<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mahaoyang.maaiagent.mapper.RedisSyncRecordMapper">
    <resultMap id="BaseResultMap" type="com.mahaoyang.maaiagent.domain.entity.RedisSyncRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="chatId" column="chat_id" jdbcType="VARCHAR"/>
            <result property="lastSyncTime" column="last_sync_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,chat_id,last_sync_time
    </sql>
</mapper> 